swagger: '2.0'                           
info:                                    
  title: 'People Management API - BRA'   
  version: '0.2.1'                       
                                         
host: ws-peoplemgmt.sdasystems.org       
basePath: /bra                           
schemes:                                 
 - https                                 
security:                                
  - client_credentials:                  
    - peoplemgmt.bra                     
paths:
  '/addressType/byId':
    get:
      tags: ['AddressType']
      operationId: 'getAddressTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/AddressType'
  '/addressType/byFilter':
    get:
      tags: ['AddressType']
      operationId: 'getListAddressTypeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/AddressType'


  '/addressType/systemReference':
    delete:
      tags: ['AddressType']
      operationId: 'addressTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['AddressType']
      operationId: 'addressTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/addressType/byIdList':
    get:
      tags: ['AddressType']
      operationId: 'getListAddressTypeByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/AddressType'


  '/allergyType/byId':
    get:
      tags: ['AllergyType']
      operationId: 'getAllergyTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/AllergyType'
  '/allergyType/byFilter':
    get:
      tags: ['AllergyType']
      operationId: 'getListAllergyTypeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/AllergyType'


  '/allergyType/systemReference':
    delete:
      tags: ['AllergyType']
      operationId: 'allergyTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['AllergyType']
      operationId: 'allergyTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/allergyType/byIdList':
    get:
      tags: ['AllergyType']
      operationId: 'getListAllergyTypeByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/AllergyType'


  '/authentication/setToken':
    post:
      tags: ['Authentication']
      operationId: 'setToken'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: cert
          in: query
          type: string
          required: false
      responses:
        204:
          description: 'Done'
  '/authentication/startSession':
    post:
      tags: ['Authentication']
      operationId: 'startSession'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: tokenKey
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: string

  '/country/systemReference':
    delete:
      tags: ['Country']
      operationId: 'countryDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['Country']
      operationId: 'countrySaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/country/byId':
    get:
      tags: ['Country']
      operationId: 'getCountryById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/CountryLite'
  '/country/current':
    get:
      tags: ['Country']
      operationId: 'getCurrent'
      produces:
        - 'applications/json'
        - 'applications/xml'
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/CountryLiteSearch'
  '/country/byIdList':
    get:
      tags: ['Country']
      operationId: 'getListCountryByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/CountryLite'


  '/country/byNameList':
    get:
      tags: ['Country']
      operationId: 'getListCountryByNameList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: nameList
          in: query
          type: array
          items:
            type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/CountryLite'


  '/country/pageAvailable':
    get:
      tags: ['Country']
      operationId: 'getPageAvailable'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: selectedItems
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedCountryLiteSearch'
  '/country/pageByFilter':
    get:
      tags: ['Country']
      operationId: 'getPageCountryByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedCountryLite'
  '/country/pageForSearch':
    get:
      tags: ['Country']
      operationId: 'getPageForSearch'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedCountryLiteSearch'
  '/country/pagePhoneCodeByFilter':
    get:
      tags: ['Country']
      operationId: 'getPagePhoneCodeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedCountryPhoneCode'
  '/disabilityType/byId':
    get:
      tags: ['DisabilityType']
      operationId: 'getDisabilityTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/DisabilityType'
  '/disabilityType/byFilter':
    get:
      tags: ['DisabilityType']
      operationId: 'getListDisabilityTypeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DisabilityType'


  '/disabilityType/pageAvailableToNaturalPerson':
    get:
      tags: ['DisabilityType']
      operationId: 'getPageDisabilityTypeAvailableToNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
        - name: selectedItems
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedDisabilityType'
  '/disabilityType/systemReference':
    delete:
      tags: ['DisabilityType']
      operationId: 'disabilityTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['DisabilityType']
      operationId: 'disabilityTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/disabilityType/disabilityByIdList':
    get:
      tags: ['DisabilityType']
      operationId: 'getListDisabilityByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DisabilityType'


  '/disease/byId':
    get:
      tags: ['Disease']
      operationId: 'getDiseaseById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/Disease'
  '/disease/byFilter':
    get:
      tags: ['Disease']
      operationId: 'getListDiseaseByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Disease'


  '/disease/pageAvailableToNaturalPerson':
    get:
      tags: ['Disease']
      operationId: 'getPageDiseaseAvailableToNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPerson
          in: query
          type: string
          format: uuid
          required: true
        - name: selectedItems
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedDisease'
  '/disease/systemReference':
    delete:
      tags: ['Disease']
      operationId: 'diseaseDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['Disease']
      operationId: 'diseaseSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/disease/byIdList':
    get:
      tags: ['Disease']
      operationId: 'getListDiseaseByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Disease'


  '/disease/byType':
    get:
      tags: ['Disease']
      operationId: 'getListByType'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: diseaseTypeId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Disease'


  '/diseaseType/byId':
    get:
      tags: ['DiseaseType']
      operationId: 'getDiseaseTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/DiseaseType'
  '/diseaseType/byFilter':
    get:
      tags: ['DiseaseType']
      operationId: 'getListDiseaseTypeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DiseaseType'


  '/diseaseType/systemReference':
    delete:
      tags: ['DiseaseType']
      operationId: 'diseaseTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['DiseaseType']
      operationId: 'diseaseTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/diseaseType/byIdList':
    get:
      tags: ['DiseaseType']
      operationId: 'getListDiseaseTypeByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DiseaseType'


  '/documentType/byId':
    get:
      tags: ['DocumentType']
      operationId: 'getDocumentTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/DocumentType'
  '/documentType/byFilter':
    get:
      tags: ['DocumentType']
      operationId: 'getListDocumentTypeByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentType'


  '/documentType/byIdList':
    get:
      tags: ['DocumentType']
      operationId: 'getListDocumentTypeByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentType'


  '/documentType/byIdListForSearch':
    get:
      tags: ['DocumentType']
      operationId: 'getListByIdListForSearch'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentTypeLiteSearch'


  '/documentType/forNaturalPersonByFilter':
    get:
      tags: ['DocumentType']
      operationId: 'getListForNaturalPersonByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentType'


  '/documentType/forNaturalPersonByFilterForSearch':
    get:
      tags: ['DocumentType']
      operationId: 'getListForNaturalPersonByFilterForSearch'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentTypeLiteSearch'


  '/documentType/forSpecificPersonByFilter':
    get:
      tags: ['DocumentType']
      operationId: 'getListForSpecificPersonByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personId
          in: query
          type: string
          format: uuid
          required: true
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentType'


  '/documentType/systemReference':
    delete:
      tags: ['DocumentType']
      operationId: 'documentTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['DocumentType']
      operationId: 'documentTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/documentType/identifierByClassification':
    get:
      tags: ['DocumentType']
      operationId: 'getIdentifierByClassification'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: classification
          in: body
          schema:
            $ref: '#/definitions/DocumentTypeClassification'
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/DocumentType'
  '/emergencyContact':
    delete:
      tags: ['EmergencyContact']
      operationId: 'deleteEmergencyContact'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['EmergencyContact']
      operationId: 'saveEmergencyContact'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: emergencyContactLite
          in: body
          schema:
            $ref: '#/definitions/EmergencyContactLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/EmergencyContactLite'
  '/emergencyContact/byId':
    get:
      tags: ['EmergencyContact']
      operationId: 'getEmergencyContactById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/EmergencyContactLite'
  '/emergencyContact/byNaturalPerson':
    get:
      tags: ['EmergencyContact']
      operationId: 'getListEmergencyContactByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/EmergencyContactLite'


  '/emergencyContact/byNaturalPersonIdList':
    get:
      tags: ['EmergencyContact']
      operationId: 'getListEmergencyContactByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/EmergencyContactLite'


  '/ethnicity/byId':
    get:
      tags: ['Ethnicity']
      operationId: 'getEthnicityById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/Ethnicity'
  '/ethnicity/byFilter':
    get:
      tags: ['Ethnicity']
      operationId: 'getListEthnicityByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Ethnicity'


  '/ethnicity/byIdList':
    get:
      tags: ['Ethnicity']
      operationId: 'getListEthnicityByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Ethnicity'


  '/ethnicity':
    put:
      tags: ['Ethnicity']
      operationId: 'saveEthnicity'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: ethnicity
          in: body
          schema:
            $ref: '#/definitions/Ethnicity'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/Ethnicity'
    delete:
      tags: ['Ethnicity']
      operationId: 'deleteEthnicity'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/ethnicity/systemReference':
    delete:
      tags: ['Ethnicity']
      operationId: 'ethnicityDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['Ethnicity']
      operationId: 'ethnicitySaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/globalization/cultureByName':
    get:
      tags: ['Globalization']
      operationId: 'getCultureByName'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: name
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/Culture'
  '/globalization/pageCultureByFilter':
    get:
      tags: ['Globalization']
      operationId: 'getPageCultureByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedCulture'
  '/globalization/pageTimeZoneByFilter':
    get:
      tags: ['Globalization']
      operationId: 'getPageTimeZoneByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedTimeZone'
  '/globalization/timeZoneById':
    get:
      tags: ['Globalization']
      operationId: 'getTimeZoneById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/TimeZone'
  '/healthPlan/byId':
    get:
      tags: ['HealthPlan']
      operationId: 'getHealthPlanById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/HealthPlan'
  '/healthPlan/pageByFilter':
    get:
      tags: ['HealthPlan']
      operationId: 'getPageHealthPlanByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedHealthPlan'
  '/healthPlan/systemReference':
    delete:
      tags: ['HealthPlan']
      operationId: 'healthPlanDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['HealthPlan']
      operationId: 'healthPlanSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/healthPlan/byIdList':
    get:
      tags: ['HealthPlan']
      operationId: 'getListHealthPlanByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/HealthPlan'


  '/healthPlan':
    put:
      tags: ['HealthPlan']
      operationId: 'saveHealthPlan'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: healthPlan
          in: body
          schema:
            $ref: '#/definitions/HealthPlan'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/HealthPlan'
    delete:
      tags: ['HealthPlan']
      operationId: 'deleteHealthPlan'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/integration/naturalPersonList':
    put:
      tags: ['Integration']
      operationId: 'saveNaturalPersonList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonList
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonIntegration'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/MessageLogIntegration'


  '/integration/naturalPersonById':
    get:
      tags: ['Integration']
      operationId: 'getNaturalPersonById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonIntegration'
  '/legalEntity':
    delete:
      tags: ['LegalEntity']
      operationId: 'deleteLegalEntity'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: legalEntityIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
    put:
      tags: ['LegalEntity']
      operationId: 'saveLegalEntity'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: legalEntity
          in: body
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
  '/legalEntity/byCode':
    get:
      tags: ['LegalEntity']
      operationId: 'getByCode'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: code
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
  '/legalEntity/byId':
    get:
      tags: ['LegalEntity']
      operationId: 'getLegalEntityById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
  '/legalEntity/byIdentifierDocumentNumber':
    get:
      tags: ['LegalEntity']
      operationId: 'getByIdentifierDocumentNumber'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: documentNumber
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
  '/legalEntity/byDocumentNumberList':
    get:
      tags: ['LegalEntity']
      operationId: 'getListLegalEntityByDocumentNumberList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: documentNumberList
          in: query
          type: array
          items:
            type: string
          required: false
        - name: documentTypeIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LegalEntityLiteExternal'


  '/legalEntity/byIdList':
    get:
      tags: ['LegalEntity']
      operationId: 'getListLegalEntityByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LegalEntityLiteExternal'


  '/legalEntity/isAdventistActiveByFilter':
    get:
      tags: ['LegalEntity']
      operationId: 'getListIsAdventistActiveByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LegalEntityLiteExternal'


  '/legalEntity/pageByFilter':
    get:
      tags: ['LegalEntity']
      operationId: 'getPageLegalEntityByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: isAdventist
          in: query
          type: boolean
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedLegalEntityLiteExternal'
  '/legalEntity/pageByFilterAndDocNumber':
    get:
      tags: ['LegalEntity']
      operationId: 'getPageByFilterAndDocNumber'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: isAdventist
          in: query
          type: boolean
          required: false
        - name: documentNumber
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedLegalEntityLiteExternal'
  '/legalEntity/insertForImport':
    post:
      tags: ['LegalEntity']
      operationId: 'insertForImport'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: legalEntity
          in: body
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LegalEntityLiteExternal'
  '/legalEntity/systemReference':
    put:
      tags: ['LegalEntity']
      operationId: 'legalEntitySaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: legalEntityIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
  '/legalEntity/lastSystemUpdate':
    get:
      tags: ['LegalEntity']
      operationId: 'getListLegalEntityLastSystemUpdate'
      produces:
        - 'applications/json'
        - 'applications/xml'
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LegalEntitySystemUpdateLite'


  '/legalEntity/notice':
    post:
      tags: ['LegalEntity']
      operationId: 'legalEntityUpdateNotice'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: legalEntityIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
  '/locality/systemReference':
    delete:
      tags: ['Locality']
      operationId: 'localityDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['Locality']
      operationId: 'localitySaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/locality/addressByZipPostalCode':
    get:
      tags: ['Locality']
      operationId: 'getAddressByZipPostalCode'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: zipCode
          in: query
          type: string
          required: false
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/ZipPostalCodeAddressLite'
  '/locality/byIdList':
    get:
      tags: ['Locality']
      operationId: 'getListLocalityByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityLite'


  '/locality/byDivisionTypeAndCountry':
    get:
      tags: ['Locality']
      operationId: 'getListByDivisionTypeAndCountry'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: divisionType
          in: body
          schema:
            $ref: '#/definitions/PoliticalDivisionType'
          required: true
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
        - name: parentId
          in: query
          type: string
          format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityLiteSearch'


  '/locality/byNameList':
    get:
      tags: ['Locality']
      operationId: 'getListLocalityByNameList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: nameList
          in: query
          type: array
          items:
            type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityLite'


  '/locality/byTypeAndParent':
    get:
      tags: ['Locality']
      operationId: 'getListByTypeAndParent'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: localityTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: parentId
          in: query
          type: string
          format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityLiteSearch'


  '/locality/byId':
    get:
      tags: ['Locality']
      operationId: 'getLocalityById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LocalityLite'
  '/locality/pageCityByFilterAndCountry':
    get:
      tags: ['Locality']
      operationId: 'getPageCityByFilterAndCountry'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedLocalityLiteSearch'
  '/locality/pageHasAddressByFilterAndCountry':
    get:
      tags: ['Locality']
      operationId: 'getPageHasAddressByFilterAndCountry'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
        - name: filter
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedLocalityLiteSearch'
  '/locality/pageByFilter':
    get:
      tags: ['Locality']
      operationId: 'getPageLocalityByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
        - name: countryId
          in: query
          type: string
          format: uuid
          required: false
        - name: localityTypeId
          in: query
          type: string
          format: uuid
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedLocalityLite'
  '/localityType/systemReference':
    delete:
      tags: ['LocalityType']
      operationId: 'localityTypeDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['LocalityType']
      operationId: 'localityTypeSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/localityType/byCountry':
    get:
      tags: ['LocalityType']
      operationId: 'getListByCountry'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityTypeLite'


  '/localityType/byCountryForSearch':
    get:
      tags: ['LocalityType']
      operationId: 'getListByCountryForSearch'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityTypeLiteSearch'


  '/localityType/byFilter':
    get:
      tags: ['LocalityType']
      operationId: 'getListByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityTypeLite'


  '/localityType/byIdList':
    get:
      tags: ['LocalityType']
      operationId: 'getListLocalityTypeByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalityTypeLite'


  '/localityType/byDivisionTypeAndCountry':
    get:
      tags: ['LocalityType']
      operationId: 'getByDivisionTypeAndCountry'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: divisionType
          in: body
          schema:
            $ref: '#/definitions/PoliticalDivisionType'
          required: true
        - name: countryId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LocalityTypeLite'
  '/localityType/byId':
    get:
      tags: ['LocalityType']
      operationId: 'getLocalityTypeById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/LocalityTypeLite'
  '/maritalStatus/byFilter':
    get:
      tags: ['MaritalStatus']
      operationId: 'getListMaritalStatusByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/MaritalStatus'


  '/maritalStatus/byId':
    get:
      tags: ['MaritalStatus']
      operationId: 'getMaritalStatusById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/MaritalStatus'
  '/maritalStatus/byIdList':
    get:
      tags: ['MaritalStatus']
      operationId: 'getListMaritalStatusByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/MaritalStatus'


  '/maritalStatus/systemReference':
    delete:
      tags: ['MaritalStatus']
      operationId: 'maritalStatusDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['MaritalStatus']
      operationId: 'maritalStatusSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/naturalPersonAllergy/naturalPerson':
    delete:
      tags: ['NaturalPersonAllergy']
      operationId: 'naturalPersonAllergyDeleteNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/naturalPersonAllergy/byNaturalPerson':
    get:
      tags: ['NaturalPersonAllergy']
      operationId: 'getListNaturalPersonAllergyByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonAllergyLite'


  '/naturalPersonAllergy/byId':
    get:
      tags: ['NaturalPersonAllergy']
      operationId: 'getNaturalPersonAllergyById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonAllergyLite'
  '/naturalPersonAllergy':
    put:
      tags: ['NaturalPersonAllergy']
      operationId: 'saveNaturalPersonAllergy'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonAllergy
          in: body
          schema:
            $ref: '#/definitions/NaturalPersonAllergyLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonAllergyLite'
  '/naturalPersonAllergy/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonAllergy']
      operationId: 'getListNaturalPersonAllergyByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonAllergyLite'


  '/naturalPersonAllergy/byTypeAndNaturalPersonIdList':
    get:
      tags: ['NaturalPersonAllergy']
      operationId: 'getListNaturalPersonAllergyByTypeAndNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: allergyTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonAllergyLite'


  '/naturalPersonDisability':
    delete:
      tags: ['NaturalPersonDisability']
      operationId: 'deleteNaturalPersonDisability'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonDisability']
      operationId: 'saveNaturalPersonDisabilityList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonDisabilityList
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDisabilityLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDisabilityLite'


  '/naturalPersonDisability/byNaturalPerson':
    get:
      tags: ['NaturalPersonDisability']
      operationId: 'getListNaturalPersonDisabilityByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDisabilityLite'


  '/naturalPersonDisability/byId':
    get:
      tags: ['NaturalPersonDisability']
      operationId: 'getNaturalPersonDisabilityById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonDisabilityLite'
  '/naturalPersonDisability/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonDisability']
      operationId: 'getListNaturalPersonDisabilityByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDisabilityLite'


  '/naturalPersonDisability/byTypeAndNaturalPersonIdList':
    get:
      tags: ['NaturalPersonDisability']
      operationId: 'getListNaturalPersonDisabilityByTypeAndNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: disabilityTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDisabilityLite'


  '/naturalPersonDisease':
    delete:
      tags: ['NaturalPersonDisease']
      operationId: 'deleteNaturalPersonDisease'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonDisease']
      operationId: 'saveNaturalPersonDiseaseList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonDisease
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDiseaseLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDiseaseLite'


  '/naturalPersonDisease/byNaturalPerson':
    get:
      tags: ['NaturalPersonDisease']
      operationId: 'getListNaturalPersonDiseaseByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDiseaseLite'


  '/naturalPersonDisease/byId':
    get:
      tags: ['NaturalPersonDisease']
      operationId: 'getNaturalPersonDiseaseById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonDiseaseLite'
  '/naturalPersonDisease/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonDisease']
      operationId: 'getListNaturalPersonDiseaseByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDiseaseLite'


  '/naturalPersonDisease/byTypeAndNaturalPersonIdList':
    get:
      tags: ['NaturalPersonDisease']
      operationId: 'getListNaturalPersonDiseaseByTypeAndNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: diseaseTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonDiseaseLite'


  '/naturalPersonHealthPlan':
    delete:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'deleteNaturalPersonHealthPlan'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'saveNaturalPersonHealthPlan'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonHealthPlan
          in: body
          schema:
            $ref: '#/definitions/NaturalPersonHealthPlanLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonHealthPlanLite'
  '/naturalPersonHealthPlan/byNaturalPerson':
    get:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'getListNaturalPersonHealthPlanByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonHealthPlanLite'


  '/naturalPersonHealthPlan/byId':
    get:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'getNaturalPersonHealthPlanById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonHealthPlanLite'
  '/naturalPersonHealthPlan/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'getListNaturalPersonHealthPlanByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonHealthPlanLite'


  '/naturalPersonHealthPlan/byPlanAndNaturalPersonIdList':
    get:
      tags: ['NaturalPersonHealthPlan']
      operationId: 'getListByPlanAndNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: healthPlanId
          in: query
          type: string
          format: uuid
          required: true
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonHealthPlanLite'


  '/naturalPersonMedicine':
    delete:
      tags: ['NaturalPersonMedicine']
      operationId: 'deleteNaturalPersonMedicine'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonMedicine']
      operationId: 'saveNaturalPersonMedicine'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonMedicineLite
          in: body
          schema:
            $ref: '#/definitions/NaturalPersonMedicineLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonMedicineLite'
  '/naturalPersonMedicine/byNaturalPerson':
    get:
      tags: ['NaturalPersonMedicine']
      operationId: 'getListNaturalPersonMedicineByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonMedicineLite'


  '/naturalPersonMedicine/byId':
    get:
      tags: ['NaturalPersonMedicine']
      operationId: 'getNaturalPersonMedicineById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonMedicineLite'
  '/naturalPersonMedicine/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonMedicine']
      operationId: 'getListNaturalPersonMedicineByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonMedicineLite'


  '/naturalPersonNationality':
    delete:
      tags: ['NaturalPersonNationality']
      operationId: 'deleteNaturalPersonNationality'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonNationality']
      operationId: 'saveNaturalPersonNationalityList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonNationalityList
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonNationalityLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonNationalityLite'


  '/naturalPersonNationality/byNaturalPerson':
    get:
      tags: ['NaturalPersonNationality']
      operationId: 'getListNaturalPersonNationalityByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonNationalityLite'


  '/naturalPersonNationality/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonNationality']
      operationId: 'getListNaturalPersonNationalityByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonNationalityLite'


  '/naturalPersonNationality/byId':
    get:
      tags: ['NaturalPersonNationality']
      operationId: 'getNaturalPersonNationalityById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonNationalityLite'
  '/naturalPersonRelationship':
    delete:
      tags: ['NaturalPersonRelationship']
      operationId: 'deleteNaturalPersonRelationship'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['NaturalPersonRelationship']
      operationId: 'saveNaturalPersonRelationship'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonRelationship
          in: body
          schema:
            $ref: '#/definitions/NaturalPersonRelationshipLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonRelationshipLite'
  '/naturalPersonRelationship/children':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getListChildren'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DictionaryEntityLite'


  '/naturalPersonRelationship/byNaturalPerson':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonRelationshipLite'


  '/naturalPersonRelationship/siblingsByNaturalPerson':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getListSiblingsByNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/DictionaryEntityLite'


  '/naturalPersonRelationship/byId':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getNaturalPersonRelationshipById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonRelationshipLite'
  '/naturalPersonRelationship/byNaturalPersonIdList':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonRelationshipLite'


  '/naturalPersonRelationship/byRelationshipAndNaturalPersonIdList':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getListByRelationshipAndNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: relationship
          in: body
          schema:
            $ref: '#/definitions/Relationship'
          required: true
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonRelationshipLite'


  '/naturalPersonRelationship/livesWithByNaturalPersonIdList':
    get:
      tags: ['NaturalPersonRelationship']
      operationId: 'getListLivesWithByNaturalPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonRelationshipLite'


  '/naturalPerson':
    delete:
      tags: ['NaturalPerson']
      operationId: 'naturalPersonDeleteNaturalPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
  '/naturalPerson/byBasicPropertyList':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListByBasicPropertyList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: basicPropertyList
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/NPBasicProperty'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonLiteExternal'


  '/naturalPerson/byLastUpdate':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListByLastUpdate'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: lastUpdate
          in: query
          type: string
          format: datetime
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonLiteExternal'


  '/naturalPerson/byIdListForExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListByIdListForExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonLiteExternal'


  '/naturalPerson/byIdForExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getByIdForExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/naturalPerson/byDocument':
    get:
      tags: ['NaturalPerson']
      operationId: 'getByDocument'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: documentTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: docNumber
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/naturalPerson/byDocumentNumberList':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListNaturalPersonByDocumentNumberList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: documentNumberList
          in: query
          type: array
          items:
            type: string
          required: false
        - name: documentTypeIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonLiteExternal'


  '/naturalPerson/byUserName':
    get:
      tags: ['NaturalPerson']
      operationId: 'getByUserName'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: userName
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/naturalPerson/byDocument/list':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListByDocument'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: documentTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: docNumber
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonLiteExternal'


  '/naturalPerson/pageActiveByFilterForExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getPageActiveByFilterForExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: name
          in: query
          type: string
          required: false
        - name: birthDate
          in: query
          type: string
          format: datetime
          required: false
        - name: gender
          in: body
          schema:
            $ref: '#/definitions/Gender'
          required: false
        - name: documentTypeId
          in: query
          type: string
          format: uuid
          required: false
        - name: documentNumber
          in: query
          type: string
          required: false
        - name: parentName
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedNaturalPersonLiteExternal'
  '/naturalPerson/pageActiveByFilterForExternal2':
    get:
      tags: ['NaturalPerson']
      operationId: 'getPageActiveByFilterForExternal2'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: firstName
          in: query
          type: string
          required: false
        - name: middleName
          in: query
          type: string
          required: false
        - name: lastName
          in: query
          type: string
          required: false
        - name: birthDate
          in: query
          type: string
          format: datetime
          required: true
        - name: gender
          in: body
          schema:
            $ref: '#/definitions/Gender'
          required: true
        - name: motherName
          in: query
          type: string
          required: false
        - name: identifierDocumentNumber
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedNaturalPersonLiteExternal'
  '/naturalPerson/pageSimilarActiveForExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getPageSimilarActiveForExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: firstName
          in: query
          type: string
          required: false
        - name: middleName
          in: query
          type: string
          required: false
        - name: lastName
          in: query
          type: string
          required: false
        - name: birthDate
          in: query
          type: string
          format: datetime
          required: true
        - name: gender
          in: body
          schema:
            $ref: '#/definitions/Gender'
          required: true
        - name: motherName
          in: query
          type: string
          required: false
        - name: identifierDocumentNumber
          in: query
          type: string
          required: false
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedNaturalPersonLiteExternal'
  '/naturalPerson/pageSimilarActiveById':
    get:
      tags: ['NaturalPerson']
      operationId: 'getPageSimilarActiveById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonId
          in: query
          type: string
          format: uuid
          required: true
        - name: numRows
          in: query
          type: integer
          format: int32
          required: true
        - name: pageIndex
          in: query
          type: integer
          format: int32
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PagedNaturalPersonLiteExternal'
  '/naturalPerson/forExternal':
    put:
      tags: ['NaturalPerson']
      operationId: 'saveForExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPerson
          in: body
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/naturalPerson/systemReference':
    put:
      tags: ['NaturalPerson']
      operationId: 'naturalPersonSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
  '/naturalPerson/notice':
    post:
      tags: ['NaturalPerson']
      operationId: 'naturalPersonUpdateNotice'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: naturalPersonIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        204:
          description: 'Done'
  '/naturalPerson/lastSystemUpdate':
    get:
      tags: ['NaturalPerson']
      operationId: 'getListNaturalPersonLastSystemUpdate'
      produces:
        - 'applications/json'
        - 'applications/xml'
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/NaturalPersonSystemUpdateLite'


  '/naturalPerson/similarLiteExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getSimilarLiteExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: fullName
          in: query
          type: string
          required: false
        - name: birthDate
          in: query
          type: string
          format: datetime
          required: true
        - name: motherName
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/naturalPerson/byIdentifierDocumentNumberLiteExternal':
    get:
      tags: ['NaturalPerson']
      operationId: 'getByIdentifierDocumentNumberLiteExternal'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: identifierDocumentNumber
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/NaturalPersonLiteExternal'
  '/occupation/byFilter':
    get:
      tags: ['Occupation']
      operationId: 'getListOccupationByFilter'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: filter
          in: query
          type: string
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Occupation'


  '/occupation/byIdList':
    get:
      tags: ['Occupation']
      operationId: 'getListOccupationByIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: idList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/Occupation'


  '/occupation/byId':
    get:
      tags: ['Occupation']
      operationId: 'getOccupationById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/Occupation'
  '/occupation/systemReference':
    delete:
      tags: ['Occupation']
      operationId: 'occupationDeleteSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['Occupation']
      operationId: 'occupationSaveSystemReference'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
  '/peopleConfiguration':
    get:
      tags: ['PeopleConfiguration']
      operationId: 'get'
      produces:
        - 'applications/json'
        - 'applications/xml'
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PeopleConfigurationLite'
  '/personAddress':
    delete:
      tags: ['PersonAddress']
      operationId: 'deletePersonAddress'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['PersonAddress']
      operationId: 'savePersonAddress'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personAddressLite
          in: body
          schema:
            $ref: '#/definitions/PersonAddressLite'
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PersonAddressLite'
  '/personAddress/byPerson':
    get:
      tags: ['PersonAddress']
      operationId: 'getListPersonAddressByPerson'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonAddressLite'


  '/personAddress/byPersonIdList':
    get:
      tags: ['PersonAddress']
      operationId: 'getListPersonAddressByPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonAddressLite'


  '/personAddress/byId':
    get:
      tags: ['PersonAddress']
      operationId: 'getPersonAddressById'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PersonAddressLite'
  '/personAddress/isMailling':
    get:
      tags: ['PersonAddress']
      operationId: 'getIsMailling'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personId
          in: query
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: 'Success'
          schema:
            $ref: '#/definitions/PersonAddressLite'
  '/personAddress/isMaillingByPersonIdList':
    get:
      tags: ['PersonAddress']
      operationId: 'getListIsMaillingByPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: personIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonAddressLite'


  '/personAddress/byTypeAndPersonIdList':
    get:
      tags: ['PersonAddress']
      operationId: 'getListPersonAddressByTypeAndPersonIdList'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: addressTypeId
          in: query
          type: string
          format: uuid
          required: true
        - name: personIdList
          in: query
          type: array
          items:
            type: string
            format: uuid
          required: false
      responses:
        200:
          description: 'Success'
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonAddressLite'


  '/personDocument':
    delete:
      tags: ['PersonDocument']
      operationId: 'deletePersonDocument'
      produces:
        - 'applications/json'
        - 'applications/xml'
      parameters:
        - name: id
          in: query
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: 'Done'
    put:
      tags: ['PersonDocument']
      operationId: 'savePersonDocument'
      produces:
        - 'applications/json'
        - 'applications/xml'
[...]
